body{
    /* background-color: lightgray; */
    background-color: rgb(222, 228, 222);
}
#cv-template{
    display: none;
}
.background{
    background-color: aqua;
}
.profilePic{
  border: 1px solid black;
  border-radius:50%;
  height: 200px;
}